---
import Layout from "../layouts/Layout.astro";
---

<Layout title="JStevenfm | Desarrollador Web. Frontend, JavaScript, React, Astro, CSS">
    <section class="mx-auto mt-7 w-screen max-w-[740px]">
        <header class="text-lg font-semibold mb-7 text-ctagreen">Thanks for your message</header>
        <p>Your message has been sent successfully. I will contact you soon.</p>
        <a type="submit" class="self-center w-32 h-9 mt-7 py-1 px-2 bg-ctagreen text-royalblue rounded-lg flex justify-evenly items-center border-none text-sm lg:hover:ease-linear lg:hover:duration-200 lg:hover:scale-105 lg:hover:shadow-royalblue/80 lg:hover:shadow-green focus:transition-all focus:ease-linear focus:duration-200 focus:scale-105 focus:shadow-royalblue/80 focus:shadow-green">
            Back to Home
        </a>
    </section>
</Layout>