---
interface Props {
  forInput: string;
  span: string;
  type: string;
  id: string;
  placeholder: string;
  name: string;
}
const { forInput, span, type, id, placeholder, name } = Astro.props;
---
<!--  -->
<label for={ forInput } class="flex flex-col mt-4">
  <span class="text-sm font-light">{ span }</span>
  <input 
    class="mt-1 p-4 min-w-[248px] max-w-md h-8 border-none outline-none rounded-lg text-zinc-500 hover:transition-all hover:ease-linear hover:duration-200 hover:scale-105 hover:shadow-ctagreen/80 hover:shadow-green focus:transition-all focus:ease-linear focus:duration-200 focus:scale-105 focus:shadow-ctagreen/80 focus:shadow-green"
    type={ type } id={ id } placeholder={ placeholder } name={ name } required>
</label>
