---
import AnchorsSections from "./AnchorsSections.astro";
import Section from "./Section.astro"
import InputForm from "./InputForm.astro"
import Rrss from "./Rrss.astro"
---
<main class="mx-auto mt-7 w-screen max-w-[740px]">
  <Section id="portfolio" titleSection="Portfolio">
    <AnchorsSections
      href='/'
      src='./portfolio.webp'
      alt='Imagen de mi landing page'
      nameProject='My Landing Page'
      descriptionProject='This page shows my projects'
    />
  </Section>

  <Section id="blog" titleSection="Blog"> 
    <AnchorsSections
      href='/'
      src=''
      alt='Imagen de mi primer blog'
      nameProject='Mi Primer Blog'
      descriptionProject='Este es mi primer post en un blog'
    />
  </Section>
  <section id="contact" class="pt-7 pb-10 px-4 flex flex-col justify-center items-center tablet:h-[470px] tablet:relative tablet:justify-normal">
    <h2 class="self-start text-lg font-semibold text-ctagreen">Get In Touch</h2>
    <p class="text-sm font-light mt-4 self-start">Let's talk about everything</p>
    <form action="https://formsubmit.co/jstevenfm@gmail.com" method="POST" class="flex flex-col content-center tablet:w-[50%] tablet:max-w-xs tablet:absolute tablet:top-6 tablet:right-[5%]">
      <InputForm
        forInput="name"
        span="Name"
        type="text"
        id="name"
        placeholder="Pepito Perez"
        name="name"
      />
      <InputForm
        forInput="email"
        span="Email"
        type="email"
        id="nemailame"
        placeholder="example@example.com"
        name="email"
      />
      <InputForm
        forInput="subject"
        span="Subject"
        type="text"
        id="subject"
        placeholder="Work with you"
        name="_subject"
      />
      <label for="message" class="flex flex-col mt-4">
        <span>Message</span>
        <textarea
          name="message"
          id="message"
          placeholder="Message..."
          required
          class="mt-1 p-4 min-w-[248px]  w-[98%] max-w-md h-20 max-h-40 border-none outline-none rounded-lg text-zinc-500 lg:hover:transition-all lg:hover:ease-linear lg:hover:duration-200 lg:hover:scale-105 lg:hover:shadow-ctagreen/80 lg:hover:shadow-green focus:transition-all focus:ease-linear focus:duration-200 focus:scale-105 focus:shadow-ctagreen/80 focus:shadow-green"
        ></textarea>
      </label>
      <input type="hidden" name="_captcha" value="false">
      <button type="submit" class="self-center w-32 h-9 mt-7 py-1 px-2 bg-ctagreen text-royalblue rounded-lg flex justify-evenly items-center border-none text-sm lg:hover:ease-linear lg:hover:duration-200 lg:hover:scale-105 lg:hover:shadow-royalblue/80 lg:hover:shadow-green focus:transition-all focus:ease-linear focus:duration-200 focus:scale-105 focus:shadow-royalblue/80 focus:shadow-green">
        Send Message
      </button>
    </form>
    <section class="bg-royalblue/60 w-[310px] h-14 mt-7 rounded-xl px-3 flex justify-center items-center tablet:absolute tablet:top-32 tablet:left-[5%]">
      <Rrss />
    </section>
  </section>
</main>
