---
import Rrss from "./Rrss.astro";
import Scroll from "./Scroll.astro";

---

<div slot="presentation" id="home" class="w-full flex flex-col items-center pt-20 pb-7">
  <img src="./picture-profile.svg" alt="Photo JStevenfm" class="w-32 h-32 mt-16">
  <h2 class="text-xl text-ctagreen mt-6 whitespace-nowrap border-r-2 w-[9.6ch] animate-[typing_2s_steps(18),blink_0.5s_infinite_step-end_alternate] overflow-hidden">Frontend Developer</h2>
  <p class="text-xs font-ligh my-6">"Less fear, more attitude" - "Menos miedo, más actitud"</p>
  <Rrss />
  <Scroll />
</div>