---
---
<ul class="flex justify-between w-full max-w-[300px]">
  <li class="hover:scale-110 hover:text-ctagreen hover:ease-linear transition-all scroll">
    <a title="Send Email" href="mailto:jstevenfm@gmail.com" target="_blank">
      <svg width="31" height="30" fill="none" ><path d="m26.784 6.563-11.25 10.312L4.284 6.562" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.284 6.563h22.5V22.5a.937.937 0 0 1-.937.938H5.222a.938.938 0 0 1-.938-.938V6.562ZM13.484 15l-8.907 8.168M26.491 23.168 17.585 15" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
    </a>
  </li>
  <li class="hover:scale-110 hover:text-ctagreen hover:ease-linear transition-all scroll">
    <a title="Download CV" href="" target="_blank">
      <svg width="31" height="30" fill="none" ><path d="M15.767 19.688a3.75 3.75 0 1 0 0-7.5 3.75 3.75 0 0 0 0 7.5Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.142 22.5a7.032 7.032 0 0 1 11.25 0" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M25.142 25.313V4.688a.937.937 0 0 0-.937-.938H7.33a.937.937 0 0 0-.938.938v20.625c0 .517.42.937.938.937h16.875c.518 0 .937-.42.937-.938ZM12.017 7.5h7.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
    </a>
  </li>
  <li class="hover:scale-110 hover:text-ctagreen hover:ease-linear transition-all scroll">
    <a title="LinkedIn" href="https://www.linkedin.com/in/jstevenfm/" target="_blank">
      <svg width="30" height="30" fill="none" ><path d="M24.844 4.219H5.156a.937.937 0 0 0-.937.937v19.688c0 .517.42.937.937.937h19.688c.517 0 .937-.42.937-.937V5.156a.937.937 0 0 0-.937-.937ZM14.063 13.125v7.5M10.313 13.125v7.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M14.063 16.406a3.28 3.28 0 1 1 6.562 0v4.219" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.313 10.313a.937.937 0 1 0 0-1.875.937.937 0 0 0 0 1.874Z" fill="currentColor"/></svg>
    </a>
  </li>
  <li class="hover:scale-110 hover:text-ctagreen hover:ease-linear transition-all scroll">
    <a title="Github" href="https://github.com/jstevenfm" target="_blank">
      <svg width="31" height="30" fill="none" ><path d="M10.076 28.125a2.8 2.8 0 0 0 2.813-2.813v-5.625M20.39 28.125a2.8 2.8 0 0 1-2.813-2.813v-5.625M18.045 19.688h1.875a2.8 2.8 0 0 1 2.813 2.812v.938a2.8 2.8 0 0 0 2.812 2.812M12.42 19.688h-1.875A2.8 2.8 0 0 0 7.733 22.5v.938A2.8 2.8 0 0 1 4.92 26.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M13.334 7.5a6.094 6.094 0 0 0-5.132-2.813 6.094 6.094 0 0 0-.41 5.239 5.777 5.777 0 0 0-.997 3.199v.938a5.625 5.625 0 0 0 5.625 5.624h5.625a5.625 5.625 0 0 0 5.625-5.625v-.937a5.777 5.777 0 0 0-.996-3.2 6.094 6.094 0 0 0-.41-5.238A6.094 6.094 0 0 0 17.131 7.5h-3.797Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
    </a>
  </li>
  <li class="hover:scale-110 hover:text-ctagreen hover:ease-linear transition-all scroll">
    <a title="Twitter / X" href="https://twitter.com/jstevenfm" target="_blank">
      <svg width="31" height="30" fill="none" ><path d="M15.466 10.313c0-2.579 2.168-4.723 4.746-4.688a4.688 4.688 0 0 1 4.242 2.813h4.136l-3.785 3.785A14.989 14.989 0 0 1 9.841 26.25c-3.75 0-4.688-1.406-4.688-1.406s3.75-1.407 5.625-4.219c0 0-7.5-3.75-5.625-14.063 0 0 4.688 4.688 10.313 5.625v-1.874Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg></svg>
    </a>
  </li>
</ul>