
<a href="#portfolio" class="my-6 lg:hover:scale-110 lg:hover:text-ctagreen lg:hover:ease-linear transition-all scroll">
  <p class="text-xs font-light">Scroll</p>
  <div class="w-6 mt-2 py-3 px-2 border-2 border-solid border-white rounded-3xl ml-1">
    <div class="mx-auto border-[3px] border-solid rounded-full w-1 h-1 animate-[down_1s_infinite] -ml-[1px]"></div>
  </div>
</a>

<style>
  .scroll:hover > div, .scroll:hover > div > div {
    border-color: #73FBD3;
    transition: all 0.25s linear
  }
</style>