---
interface Props {
  id: string;
  titleSection: string;
}
const { id, titleSection } = Astro.props;
---
<section id={ id } class="pt-7 pb-10">
  <header class="text-lg font-semibold mb-7 text-ctagreen"> { titleSection } </header>
  <article class="w-full flex justify-center flex-wrap gap-9">
    <slot />
  </article>
</section>
