---
import AnchorsSections from './AnchorsSections.astro';
interface Props {
  id: string;
  titleSection: string;
}
const { id, titleSection } = Astro.props;
---
<section id={ id }>
  <header> { titleSection } </header>
  <article>
    <AnchorsSections
      href='/'
      src='../../public/portfolio.webp'
      alt='Imagen de mi landing page'
      nameProject='My Landing Page'
      descriptionProject='This page shows my projects'
    />
  </article>
</section>